@import "../../css-config/mixins.scss";

.speakers{
  .speakers_container{
    margin: 50px 0px;
    @include md{
      margin: 50px 20px;
    }
    .speakers_container_products{
      margin: 30px 20px;
      display: flex;
      flex-flow: wrap;
      gap: 10px;
      .products{
        background-color: rgba(0,0,0,0.1);
        width: calc(50% - 5px);
        overflow: hidden;
        @include md{
          width: calc(25% - 10px);
        }
        img{
          width: 100%;
          display: block;
          transition: all ease 0.3s;
        }
        .pro_details{
          margin:0 10px;
          line-height: 2;
          h3{
            font-size: 10px;
            @include md{
              font-size: 20px;
            }
          }
        }
        .btn{
          margin: 5px 10px;
          display: flex;
          justify-content: center;
          button{
            padding: 2px 5px;
            font-size: 13px;
            font-weight: 500;
            background-color: rgba(75, 184, 218, 0.933);
            color: white;
            cursor: pointer;
            @include md{
              font-size: 20px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}